body {
  background-color: lightblue;
}

button{
  cursor: cell;
}

.App {
  text-align: center;
}

.url-input {
  width: 500px;
  height: 25px;
  border: solid black 2px;
  background-color:aliceblue;
  text-align: center;
}

.show-box {
  height: 500px; 
  width: 700px; 
  border: solid black 2px; 
  text-align: left; 
  margin-left: 35%;
  overflow: auto;
  background-color: aliceblue;
}